<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/css.css">
    <title>HTML_CSS_TEST</title>
</head>
<body>
    <div class="container">
        <div class="mainBox box1">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mainBox box2">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="mainBox box3">
            <div></div>
        </div>
        <div class="mainBox box4">
            
        </div>
        <div class="mainBox box5">
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>